.countryContainer {
    border-radius: .4rem;

    div {
        padding-left: 1.75rem;
        margin-top: 1.75rem;
        margin-bottom: 3rem;

        dl {
            margin-top: 1.5rem;

            div {
                margin: 0;
                margin-bottom: .5rem;
                gap: .5rem;
                display: flex;
                padding: 0;
            }
        }
    }
}