header {
    width: 100%;
    box-shadow: 5px 5px 10px -8px hsl(0, 0%, 52%);
    ;


    h1 {
        font-size: .925rem;
        font-weight: 800;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 1rem;

        fieldset {
            border: none;
            display: flex;
            width: 40%;
            justify-content: end;
            gap: .5rem;


            svg {
                max-height: 1rem;
                aspect-ratio: 1;
            }

            label {
                font-size: .8rem;
                font-weight: 800;


            }

            input {
                appearance: none;
            }
        }
    }
}