@use '../abstracts/breakpoints' as *;

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 1.5rem;
    gap: 2rem;

    @include dt {
        min-height: 100vh;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 4.65rem;
        justify-content: center;
        padding-block: 3rem;
        margin-inline: 1.5rem;
    }

    .searchContainer {

        @include dt {
            display: flex;
            width: 100%;
            margin-bottom: 1.05rem;
        }

        &_country {
            border: none;
            border-radius: .5rem;

            @include dt {
                height: 100%;
                min-width: 75%;
            }

            input {
                width: 100%;
                min-height: 3rem;
                border: none;
                box-shadow: 5px 5px 10px -8px hsl(0, 0%, 52%);
                background: 1.5rem center url('/search.svg') no-repeat;
                padding-inline-start: 3.5rem;
                padding-inline-end: 1rem;
                border-radius: .4rem;
                background-size: 1rem;
                cursor: pointer;

                @include dt {
                    min-height: 3.5rem;
                    padding-inline-end: 1.5rem;
                }

                &:focus-visible {
                    outline: 2px solid blue;
                    outline-offset: 2px;
                    border-radius: .4rem;
                }

                &::placeholder {
                    font-weight: 400;
                }

                @include dt {
                    width: 50%;
                }
            }
        }

        &_region {
            position: relative;
            max-width: 57.5%;
            margin-top: 2rem;
            border: none;
            border-radius: .5rem;

            cursor: pointer;

            @include dt {
                margin-top: 0;
                width: 12.75rem;
                min-height: 3rem;
                margin-left: auto;
            }
        }
    }
}

.loading {
    min-height: 100vh;
    width: 100%;
}