@use '../abstracts/breakpoints' as *;

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 1.5rem;
    gap: 2rem;

    @include dt {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 4.65rem;
        justify-content: center;
        padding-block: 3rem;
        margin-inline: 1.5rem;
    }

    .searchContainer {
        width: calc(100% - 2rem);

        @include dt {
            display: flex;
            width: 100%;
            margin-bottom: 1.05rem;
        }

        &_country {
            border: none;
            border-radius: .5rem;

            @include dt {
                height: 100%;
                min-width: 75%;
            }

            input {
                width: 100%;
                min-height: 3rem;
                border: none;
                box-shadow: 5px 5px 10px -8px hsl(0, 0%, 52%);
                background: 1.5rem center url('/search.svg') no-repeat;
                padding-inline-start: 3.5rem;
                background-size: 1rem;

                @include dt {
                    min-height: 3.5rem;
                }

                &::placeholder {
                    font-weight: 400;
                }

                @include dt {
                    width: 50%;
                }
            }
        }

        &_region {
            position: relative;
            width: 50%;
            margin-top: 2rem;
            border: none;
            border-radius: .5rem;
            margin-left: auto;

            @include dt {
                margin-top: 0;
                width: 12.75rem;
            }

            select {
                appearance: none;
                width: 100%;
                min-height: 3rem;
                border: none;
                box-shadow: 5px 5px 10px -8px hsl(0, 0%, 52%);
                padding-inline: 1.5rem;

                @include dt {}


            }

            .select-selected {
                background-color: red;
            }
        }
    }
}