@use '../abstracts/breakpoints' as *;

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


    @include dt {}

}

#light {
    background-color: green;
}

#dark {
    background-color: yellow;
}