@use "../abstracts/colors" as *;

@mixin dark-mode {

    header {
        background: $dark-bg;
        color: $white;

        label {
            background: url('/moon-light.svg') no-repeat;
        }
    }

    main {
        background: $dark-bg;
    }
}

@mixin light-mode {

    header,
    .countryContainer {
        background: $white;
        color: $dark-text;
        box-shadow: 9px 10px 31px -12px rgba(0, 0, 0, 0.83);

        nav {
            background: $white;
            color: $dark-text;

            label {
                background: url('/moon-dark.svg') no-repeat;
            }
        }
    }

    .mainContainer {
        background: $light-bg;
    }

}