@use "../abstracts/colors" as *;

@mixin dark-mode {

    header,
    .countryContainer {
        background: $dark-elements;
        color: $white;

        // label {
        //     background: url('/moon-dark.svg') no-repeat;
        // }
    }


    .mainContainer {
        background: $dark-bg;
    }

    .searchContainer {

        input,
        select {
            background-color: $dark-elements;
            color: $white;
            box-shadow: none;

            &::placeholder {
                color: $white;
            }
        }
    }
}

@mixin light-mode {

    header,
    .countryContainer {
        background: $white;
        color: $dark-text;
        box-shadow: 5px 5px 10px -8px hsl(0, 0%, 52%);

        nav {
            background: $white;
            color: $dark-text;

            // label {
            //     background: url('/moon-light.svg') no-repeat;
            // }
        }
    }

    .mainContainer {
        background: $light-bg;
    }

    .searchContainer {
        input {
            background-color: $white;

            &::placeholder {
                color: $light-input;
            }
        }
    }

}