@use "../abstracts/colors" as *;

@mixin dark-mode {

    header,
    .countryContainer {
        background: $dark-elements;
        color: $white;
    }


    .mainContainer,
    main {
        background: $dark-bg;
        color: $white;
    }

    .searchContainer {

        input,
        select {
            background-color: $dark-elements;
            color: $white;
            box-shadow: none;

            &::placeholder {
                color: $white;
            }
        }
    }

    .spanLink {
        color: $white;
    }

    .backBtn {
        background-color: $dark-elements;
        color: $white;
    }

    .bordering {
        dt {
            span {
                background-color: $dark-elements;
            }
        }
    }
}

@mixin light-mode {

    header,
    .countryContainer {
        background: $white;
        color: $dark-text;
        box-shadow: 5px 5px 10px -8px hsl(0, 0%, 52%);

        nav {
            background: $white;
            color: $dark-text;
        }
    }

    .mainContainer,
    main {
        background: $light-bg;
    }

    .searchContainer {
        input {
            background-color: $white;

            &::placeholder {
                color: $light-input;
            }
        }
    }

    .spanLink {
        color: $dark-bg;
    }

    .backBtn {
        background-color: $white;
        color: $dark-bg;
        box-shadow: 0px 0px 6px -1px hsl(0, 0%, 52%);
    }

    .bordering {
        dt {
            span {
                background-color: $white;
                box-shadow: 0px 0px 6px -1px hsl(0, 0%, 52%);
            }
        }
    }

}