@use "../abstracts/typography" as *;
@use "../abstracts/theme" as *;


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    min-height: 100vh;
}

#light {
    @include light-mode;
}

#dark {
    @include dark-mode;
}