*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.countryContainer {
    background-color: rgb(10, 10, 12);
    margin-bottom: 1rem;
    width: 16.5rem;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;

    &-flag {
        height: 10rem;

    }

    &-heading {
        color: red;
    }
}